#devo-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em 1.5em;
  width: 60vw;
}

@media (max-width: 1000px) {
  #devo-box {
    width: 80vw;
  }
}

.nav-buttons {
  margin-top: 1em;
  display: flex;
}

.devo-button {
  cursor: pointer;
  font-size: 18px;
  margin: 0em 2em;
}

.devo-button .disabled {
  cursor: default;
  color: #a0a0a0;
}
