html {
  font-family: "Source Code Pro", monospace;
  overflow-x: hidden;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Source Code Pro", monospace;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Shadows Into Light", cursive;
  margin-top: 0.5rem;
}

ul {
  max-width: 80vw;
}

li {
  padding-bottom: 15px;
  overflow-wrap: normal;
}

a {
  color: black;
}

a:hover {
  color: #EB162A;
}

a:visited {
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 95vw;
}

.subpage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.subpage hr {
  width: 10vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 16vw;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.title .logo {
  width: 3rem;
  align-items: center;
}

.content {
  display: none;
  width: 50vw;
}

.longcontent {
  width: 50vw;
}

.contact {
  display: none;
}

.collapsible {
  text-align: center
}

h2 {
  text-align: center
}
h3 {
  text-align: center
}

@media (max-width: 600px) {
  .content {
    width: 90vw;
  }
  .title {
    width: 25vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
