body {
  font-family: "Source Code Pro", monospace;
  display: flex ;
  flex-direction: column;
  align-items: center;
}

input {
  font-family: "Source Code Pro", monospace;
  border: none;
  font-size: 1.5rem;
  outline: none;
}

.cred-box {
  width: 40vw;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input {
  margin: 0.5rem 0;
  width: 100%;
}

.cred-button {
  width:40vw;
  padding: 0.4rem 1.2rem 0.6rem 1.2rem;
  border: solid;
  border-width: 0.25rem;
  background-color: white;
  color: black;
}

.cred-button:hover {
  background-color: black;
  color: white;
}

.here-before {
  margin-top: 2rem;
}

.chatInput {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.chatBar {
  flex-grow: 1;
  font-family: "Source Code Pro", monospace;
  border: none;
  font-size: 1rem;
  resize: none;
  outline: none;
  overflow-wrap: break-word;
  overflow-y: hidden;
  scrollbar-width: none;
  overflow-x: hidden;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}

.chatSubmit {
  background-color: white;
  color: gray;
  border: none;
  outline:none;
  height: 22px;
}

.chatSubmit:hover {
  color: black;
}

.messagesWrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.userWrapper {
    display: block;
    margin-left: 25%;
}

.otherWrapper {
    display: block;
    margin-right: 25%;
}

.userMessage {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 1px;
    margin-bottom: 1px;
    float: right;
    background-color: #ca4e4e;
    color: white;
}

.otherMessage {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 1px;
    margin-bottom: 1px;
    float: left;
    align-items: flex-start;
    background-color: #EEE;
}

